/*
    base.css
    Author: Ryan Joseph
    Version: 1.1
    Date: 7/1/2018 
*/

html, body {
    padding: 0;
    margin: 0;
}

html { 
    height: 100%;
}

/* Content in the center of page */
body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.formInput {
    width: 40%;
}

.formInput.row {
    margin-left: auto;
    margin-right: auto;
}

.formInput form {
    margin-left: auto;
    margin-right: auto;
}

input.btn.btn-default {
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

/* user.php */
form.userForm {
    width:50%;
    margin-right: auto;
    margin-left: auto;
}

.homeButton {
    width: 20%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    margin-top: 10%;
}

/* userChoice.php section */
.container-fluid > h2 {
    text-align: center;
    margin-bottom: 15%;
}

/* Home and Pick Another link div */
.linkButtons {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}

/* Total votes div */
.tally {
    margin-top: 10%;
    text-align: center;
} /* End of userChoice.php section */

/* Mobile response */
@media screen and (min-width:300px) and (max-width:588px){	
	.formInput {
        width: 100%;
    }

    .formInput > form > input {
        margin-top: 5%;
    }
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .linkButtons {
        margin-top: 10%;
        width: 40%;
    }
}